{% extends 'layout.html' %}

{% block contenido %}  
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Tipo Documento</th>
      <th scope="col">Numero Documento</th>
      <th scope="col">Direccion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>CC</td>
      <td>7444774</td>
      <td>Cra 3</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@Calle 4</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@Av 10</td>
    </tr>
  </tbody>
</table>
{% endblock contenido %}  


